<div class="container hero_section">
  <h1>HIPLINK</h1>
  <h2>Autogenerates Folders to Organize Links Posted in HipChat</h2>
  <button class="button"><%= link_to 'VIEW LINKS BY FOLDER', folders_path %></button>
  <span class="folder_header"><span class="star">&#9733;</span> OR <span class="star">&#9733;</span></span>
  <button class="button"><%= link_to 'VIEW LINKS BY TAGS', links_path %></button>
</div>
