<footer class="footer">
  <div class="created_by">
    <p>1st Rails Project by <a href="http://www.linkedin.com/pub/donielle-berg/59/371/972" target="_blank" style="color:#C7F047;">Donielle Berg</a>
  </p>
  </div>
  <nav>
    <ul>
      <li><%= link_to 'All Folders', folders_path %></li>   
      <li><%= link_to 'All Links', links_path %></li>                  
      <li><%= link_to 'About', about_path %></li>
    </ul>
  </nav>
</footer>