<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "HipLink", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% @rooms.each do |room| %>
          <li><%= link_to room.name, room_path(room.id) %></li>
          <% end %>
<!--           <li><%#= link_to 'All Links', links_path %></li>
          <li><%#= link_to 'About', about_path %></li> -->
        </ul>
      </nav>
    </div>
  </div>
</header>
